<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  enableDomainStylesheets: false
  label: パスワードプロンプト
-->
{%- extends '/themename/templates/layouts/1col.html' %}

{%- block content -%}
  {%- module "ttl" path="/themename/modules/page-title", ttl="パスワード入力" -%}
  <div class="ly_cont">
    <div class="bl_sect hp_tac">
      {%- password_prompt "password_prompt" submit_button_text='送信', bad_password_message='パスワードに誤りがあります', label='Password Prompt' -%}
    </div>
    <!-- /.bl_sect -->
  </div>
  <!-- /.ly_cont -->
{%- endblock -%}
