<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  enableDomainStylesheets: false
  label: ブログ（一覧）
-->
{%- extends '/themename/templates/layouts/2col.html' -%}
{%- import "/themename/templates/partials/macros/return-tag-obj.html" as return_tag_obj -%}

{%- block main -%}
  {%- if simple_list_page -%}
    {%- import "/themename/templates/partials/components/bl_vertPosts/index.html" as bl_vertPosts -%}
    <h2 class="el_lv2Heading">全ての記事</h2>
    {%- set items = [] -%}
    {%- for cont in contents -%}
      {%- set tags = return_tag_obj.mcr('', cont.topic_list)|fromjson -%}
      {%- do items.append({
        date: {
          cont: cont.publish_date_localized
        },
        tags: tags,
        link: {
          href: cont.absolute_url,
          cont: cont.name
        }
      }) -%}
    {%- endfor -%}
    {{ bl_vertPosts.mcr({
      items: items
    }) }}
  {%- else -%}

    {%- dnd_area "sect1", label="セクション1" -%}
      {%- dnd_section -%}
        {%- dnd_module path="/themename/modules/post-list-for-blog-archive" -%}
        {%- end_dnd_module -%}
      {%- end_dnd_section -%}
    {%- end_dnd_area -%}
  {%- endif -%}
{%- endblock -%}

{%- block aside -%}
  {%- include '/themename/templates/partials/blog-side.html' -%}
{%- endblock -%}
