{%- import "/themename/templates/partials/macros/return-default-image.html" as return_default_image -%}
{%- import "/themename/templates/partials/macros/return-resized-img-elm.html" as resized_img -%}
{#
  {
    root,
    unit,
    items: [
      {
        root
        img,
        ttl,
        txt,
      }
    ]
  }
#}
{%- macro code(data) -%}
  <div class="{{ data.root.class }}">
    <div class="bl_cardUnit bl_cardUnit__col{{ data.unit.col_num|default('3', true) }}">
      {%- for item in data.items -%}
        <{{ item.root.href ? 'a href="{{ item.root.href }}"' : 'div' }}
          class="bl_card {{ item.root.class }}"
          {{ item.root.attr }}>
          <figure class="bl_card_imgWrapper">
            {%- do item.img.update({
              src: return_default_image.mcr(item.img.src)
            }) -%}
            {{ resized_img.mcr({
              img: item.img
            }) }}
          </figure>
          <div class="bl_card_body">
            {%- if item.ttl.cont -%}
              <{{ item.ttl.tag|default('p', true) }} class="bl_card_ttl">
                {{ item.ttl.cont }}
              </{{ item.ttl.tag|default('p', true) }}>
            {%- endif -%}
            <div class="bl_card_txt {{ item.txt.class }}">
              {{ item.txt.cont }}
            </div>
            <!-- /.bl_card_txt -->
          </div>
          <!-- /.bl_card_body -->
        </{{ item.root.href ? 'a' : 'div' }}>
      {%- endfor -%}
    </div>
    <!-- /.bl_mediaUnit -->
  </div>
<!-- /.{{ data.root.class }}-->
{%- endmacro -%}

{%- macro mcr(data) -%}
  {{- code(data)|cut('\n')|regex_replace(' {2,}', ' ') -}}
{%- endmacro -%}

{%- require_css -%}
  <style>{%- include './style.css' -%}</style>
{%- end_require_css -%}
